In [1]:
import numpy as np
import pandas as pd
!pip install geopandas
import geopandas as gpd
from datetime import datetime,timedelta

import bokeh.palettes as bp
from bokeh.plotting import figure,curdoc
from bokeh.transform import linear_cmap
from bokeh.layouts import column, row
from bokeh.models import (CDSView, 
						HoverTool,ColorBar,
						GeoJSONDataSource, 
						Patches,
						RadioButtonGroup,
						DateSlider,
						Button)

Requirement already satisfied: geopandas in /usr/local/lib/python3.6/dist-packages (0.8.1)
Requirement already satisfied: pyproj>=2.2.0 in /usr/local/lib/python3.6/dist-packages (from geopandas) (3.0.0.post1)
Requirement already satisfied: shapely in /usr/local/lib/python3.6/dist-packages (from geopandas) (1.7.1)
Requirement already satisfied: pandas>=0.23.0 in /usr/local/lib/python3.6/dist-packages (from geopandas) (1.1.5)
Requirement already satisfied: fiona in /usr/local/lib/python3.6/dist-packages (from geopandas) (1.8.18)
Requirement already satisfied: certifi in /usr/local/lib/python3.6/dist-packages (from pyproj>=2.2.0->geopandas) (2020.12.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.23.0->geopandas) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.23.0->geopandas) (2.8.1)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.23.0->geopandas) (1.18.5)
Requirement already satisfied: six>=1.7 in /usr/local/lib/python3.6/dist-packages (from fiona->geopandas) (1.15.0)
Requirement already satisfied: click<8,>=4.0 in /usr/local/lib/python3.6/dist-packages (from fiona->geopandas) (7.1.2)
Requirement already satisfied: cligj>=0.5 in /usr/local/lib/python3.6/dist-packages (from fiona->geopandas) (0.7.1)
Requirement already satisfied: munch in /usr/local/lib/python3.6/dist-packages (from fiona->geopandas) (2.5.0)
Requirement already satisfied: click-plugins>=1.0 in /usr/local/lib/python3.6/dist-packages (from fiona->geopandas) (1.1.1)
Requirement already satisfied: attrs>=17 in /usr/local/lib/python3.6/dist-packages (from fiona->geopandas) (20.3.0)

In [2]:
demo_url = 'https://raw.githubusercontent.com/daenuprobst/covid19-cases-switzerland/master/demographics.csv'
local_url = 'https://raw.githubusercontent.com/daenuprobst/covid19-cases-switzerland/master/covid_19_cases_switzerland_standard_format.csv'
case_url = 'https://raw.githubusercontent.com/daenuprobst/covid19-cases-switzerland/master/covid19_cases_switzerland_openzh-phase2.csv'

In [3]:
import pandas as pd
demo_raw = pd.read_csv(demo_url)
local_raw = pd.read_csv(local_url)
case_raw = pd.read_csv(case_url, low_memory=False,
                 parse_dates=["Date"])

In [4]:
demo_raw.drop(demo_raw.index[[26]])
demo_raw.head()

  Canton  Population  SettlementAreaHa  ...    O65P  Beds  BedsPerCapita
0     ZH     1520968           37796.0  ...  258565  4472       0.002940
1     BE     1034977           41197.0  ...  215275  3053       0.002950
2     VD      799145           29940.0  ...  131060  2268       0.002838
3     AG      678207           23854.0  ...  120043  1450       0.002138
4     SG      507697           19408.0  ...   92909  1565       0.003083

[5 rows x 9 columns]

In [5]:
local_raw.head()

                  date      country  ... total_positive_cases tests_performed
0  2020-03-06T00:00:00  Switzerland  ...                  NaN             NaN
1  2020-03-06T00:00:00  Switzerland  ...                  NaN             NaN
2  2020-03-06T00:00:00  Switzerland  ...                  NaN             NaN
3  2020-03-06T00:00:00  Switzerland  ...                  NaN             NaN
4  2020-03-06T00:00:00  Switzerland  ...                  NaN             NaN

[5 rows x 16 columns]

In [6]:
# Extract unique 'abbreviation_canton','lat','long' combinations from local_raw
canton_point = local_raw[['abbreviation_canton','lat','long']]
canton_point.shape

(572, 3)

In [7]:
canton_point = canton_point.drop_duplicates()
canton_point.shape

(26, 3)

In [8]:
canton_point.head()

  abbreviation_canton        lat      long
0                  AG  47.449406  8.327495
1                  AI  47.328414  9.409647
2                  AR  47.382710  9.271860
3                  BE  46.916667  7.466667
4                  BL  47.482779  7.742975

In [9]:
case_raw.head()

        Date   AG   AI   AR  ...  ZH_diff_pc  CH_diff         CH_pc    CH_diff_pc
0 2020-05-31  0.0  NaN  NaN  ...         NaN      NaN  0.000000e+00           NaN
1 2020-06-01  0.0  NaN  NaN  ...    0.000000      3.0  3.512301e-07  3.512301e-07
2 2020-06-02  0.0  NaN  0.0  ...    0.000001     17.0  2.341534e-06  1.990304e-06
3 2020-06-03  1.0  0.0  0.0  ...    0.000002     18.0  4.448914e-06  2.107380e-06
4 2020-06-04  3.0  NaN  0.0  ...    0.000005     24.0  7.258755e-06  2.809841e-06

[5 rows x 109 columns]

In [10]:
print(case_raw.columns.tolist())

['Date', 'AG', 'AI', 'AR', 'BE', 'BL', 'BS', 'FR', 'GE', 'GL', 'GR', 'JU', 'LU', 'NE', 'NW', 'OW', 'SG', 'SH', 'SO', 'SZ', 'TG', 'TI', 'UR', 'VD', 'VS', 'ZG', 'ZH', 'CH', 'AG_diff', 'AG_pc', 'AG_diff_pc', 'AI_diff', 'AI_pc', 'AI_diff_pc', 'AR_diff', 'AR_pc', 'AR_diff_pc', 'BE_diff', 'BE_pc', 'BE_diff_pc', 'BL_diff', 'BL_pc', 'BL_diff_pc', 'BS_diff', 'BS_pc', 'BS_diff_pc', 'FR_diff', 'FR_pc', 'FR_diff_pc', 'GE_diff', 'GE_pc', 'GE_diff_pc', 'GL_diff', 'GL_pc', 'GL_diff_pc', 'GR_diff', 'GR_pc', 'GR_diff_pc', 'JU_diff', 'JU_pc', 'JU_diff_pc', 'LU_diff', 'LU_pc', 'LU_diff_pc', 'NE_diff', 'NE_pc', 'NE_diff_pc', 'NW_diff', 'NW_pc', 'NW_diff_pc', 'OW_diff', 'OW_pc', 'OW_diff_pc', 'SG_diff', 'SG_pc', 'SG_diff_pc', 'SH_diff', 'SH_pc', 'SH_diff_pc', 'SO_diff', 'SO_pc', 'SO_diff_pc', 'SZ_diff', 'SZ_pc', 'SZ_diff_pc', 'TG_diff', 'TG_pc', 'TG_diff_pc', 'TI_diff', 'TI_pc', 'TI_diff_pc', 'UR_diff', 'UR_pc', 'UR_diff_pc', 'VD_diff', 'VD_pc', 'VD_diff_pc', 'VS_diff', 'VS_pc', 'VS_diff_pc', 'ZG_diff', 'ZG_pc', 'ZG_diff_pc', 'ZH_diff', 'ZH_pc', 'ZH_diff_pc', 'CH_diff', 'CH_pc', 'CH_diff_pc']

In [11]:
# Create a date list from case_raw and convert to datatime form
dates = case_raw['Date']
dates

0     2020-05-31
1     2020-06-01
2     2020-06-02
3     2020-06-03
4     2020-06-04
         ...
196   2020-12-13
197   2020-12-14
198   2020-12-15
199   2020-12-16
200   2020-12-17
Name: Date, Length: 201, dtype: datetime64[ns]

In [12]:
# Read shape file from shape_dir unsing geopandas
shape_dir = r'/content/sample_data/gadm36_CHE_1.shp'
shape_raw = gpd.read_file(shape_dir)

# New Section

In [13]:
shape_raw.head()

  GID_0       NAME_0  ... HASC_1                                           geometry
0   CHE  Switzerland  ...  CH.AG  POLYGON ((7.94951 47.27751, 7.94897 47.27542, ...
1   CHE  Switzerland  ...  CH.AR  POLYGON ((9.20708 47.27694, 9.20828 47.27905, ...
2   CHE  Switzerland  ...  CH.AI  MULTIPOLYGON (((9.51250 47.40100, 9.51430 47.4...
3   CHE  Switzerland  ...  CH.BL  MULTIPOLYGON (((7.36526 47.41939, 7.36377 47.4...
4   CHE  Switzerland  ...  CH.BS  POLYGON ((7.55254 47.54676, 7.55290 47.54829, ...

[5 rows x 11 columns]

In [14]:
# Extract canton name abbreviations from the attribute 'HASC_1', e.g. CH.AG --> AG, CH.ZH --> ZH
# And save into a new column named 'Canton' 
shape_raw['Canton'] = shape_raw['HASC_1'].str.replace('CH.', '')
canton_poly = shape_raw[['geometry','Canton']]

In [15]:
canton_poly.head()

                                            geometry Canton
0  POLYGON ((7.94951 47.27751, 7.94897 47.27542, ...     AG
1  POLYGON ((9.20708 47.27694, 9.20828 47.27905, ...     AR
2  MULTIPOLYGON (((9.51250 47.40100, 9.51430 47.4...     AI
3  MULTIPOLYGON (((7.36526 47.41939, 7.36377 47.4...     BL
4  POLYGON ((7.55254 47.54676, 7.55290 47.54829, ...     BS

In [16]:
demo_raw.shape

(27, 9)

In [17]:
merged_c_d = pd.merge(canton_poly, demo_raw, on='Canton')
merged_c_d.head()

                                            geometry  ... BedsPerCapita
0  POLYGON ((7.94951 47.27751, 7.94897 47.27542, ...  ...      0.002138
1  POLYGON ((9.20708 47.27694, 9.20828 47.27905, ...  ...      0.003766
2  MULTIPOLYGON (((9.51250 47.40100, 9.51430 47.4...  ...      0.001115
3  MULTIPOLYGON (((7.36526 47.41939, 7.36377 47.4...  ...      0.002020
4  POLYGON ((7.55254 47.54676, 7.55290 47.54829, ...  ...      0.006156

[5 rows x 10 columns]

In [18]:
merged_c_d.shape

(26, 10)

In [19]:
# merged_df = pd.merge(merged_c_d, canton_point, on='Canton')
merged_df = merged_c_d.merge(canton_point.rename(columns={'abbreviation_canton':'Canton'}))
merged_df

                                             geometry  ...       long
0   POLYGON ((7.94951 47.27751, 7.94897 47.27542, ...  ...   8.327495
1   POLYGON ((9.20708 47.27694, 9.20828 47.27905, ...  ...   9.271860
2   MULTIPOLYGON (((9.51250 47.40100, 9.51430 47.4...  ...   9.409647
3   MULTIPOLYGON (((7.36526 47.41939, 7.36377 47.4...  ...   7.742975
4   POLYGON ((7.55254 47.54676, 7.55290 47.54829, ...  ...   7.573271
5   MULTIPOLYGON (((7.09284 46.89419, 7.09202 46.8...  ...   7.466667
6   MULTIPOLYGON (((6.78575 46.73603, 6.78559 46.7...  ...   7.074008
7   MULTIPOLYGON (((6.23440 46.33147, 6.23259 46.3...  ...   6.148113
8   POLYGON ((8.90771 46.80860, 8.90603 46.81009, ...  ...   9.068036
9   MULTIPOLYGON (((10.22766 46.61207, 10.22734 46...  ...  10.305946
10  POLYGON ((6.97645 47.36205, 6.93670 47.35773, ...  ...   7.156107
11  MULTIPOLYGON (((8.47390 47.12135, 8.47540 47.1...  ...   8.266667
12  POLYGON ((6.46132 46.86218, 6.46295 46.87622, ...  ...   6.780126
13  MULTIPOLYGON (((8.36748 46.78924, 8.36706 46.7...  ...   8.366090
14  MULTIPOLYGON (((8.39523 46.77334, 8.39626 46.7...  ...   8.250681
15  POLYGON ((9.46901 46.90068, 9.46991 46.89828, ...  ...   9.398450
16  MULTIPOLYGON (((8.85313 47.65377, 8.85196 47.6...  ...   8.591670
17  POLYGON ((8.42042 47.06653, 8.41810 47.06493, ...  ...   8.756585
18  MULTIPOLYGON (((7.69325 47.15567, 7.68713 47.1...  ...   7.516605
19  MULTIPOLYGON (((9.18018 47.65754, 9.17886 47.6...  ...   8.899800
20  POLYGON ((8.69525 46.10061, 8.69349 46.10048, ...  ...   8.955576
21  POLYGON ((8.48248 46.52972, 8.48077 46.53087, ...  ...   8.644409
22  POLYGON ((7.61459 45.97337, 7.61351 45.97326, ...  ...   7.604659
23  MULTIPOLYGON (((7.05791 46.86422, 7.05659 46.8...  ...   6.584780
24  POLYGON ((8.66821 47.16368, 8.67379 47.16357, ...  ...   8.537294
25  POLYGON ((8.87364 47.24979, 8.86491 47.24844, ...  ...   8.564572

[26 rows x 12 columns]

In [29]:
daily_changes_df = pd.DataFrame() 
cases_per_canton_per_date = case_raw.iloc[: , 1:27].copy()

def calculate_daily_changes(data_toBe_treated):
  for row in range(data_toBe_treated.shape[0]):
    for col in range(data_toBe_treated.shape[1]):
      daily_changes_df.loc[row, col] = data_toBe_treated[row, col] - data_toBe_treated[row-1, col]


calculate_daily_changes(cases_per_canton_per_date.values)

daily_changes_df.columns = ['AG', 'AI', 'AR', 'BE', 'BL', 'BS', 'FR', 'GE', 'GL', 'GR', 
                            'JU', 'LU', 'NE', 'NW', 'OW', 'SG', 'SH', 'SO', 'SZ', 'TG', 'TI', 'UR', 'VD', 'VS', 'ZG', 'ZH']
daily_changes_df.index=dates

# daily_changes_df.fillna(0) # Fill null with zeros as well
daily_changes_df[0:1] = 0.0 # Fill null with zeros as well for first row only
daily_changes_df.tail()

               AG   AI    AR     BE     BL  ...    UR     VD     VS    ZG      ZH
Date                                        ...
2020-12-13  198.0  NaN   NaN  439.0   79.0  ...   NaN  143.0   70.0  40.0   648.0
2020-12-14  305.0  NaN   NaN  312.0  100.0  ...   NaN  291.0  116.0  37.0   503.0
2020-12-15  568.0  4.0  30.0  428.0  178.0  ...  19.0  284.0   75.0  57.0  1003.0
2020-12-16  535.0  6.0  37.0  679.0  170.0  ...  24.0  230.0   16.0  62.0   938.0
2020-12-17    NaN  8.0  51.0  613.0  150.0  ...  12.0    NaN   98.0  63.0  1108.0

[5 rows x 26 columns]

In [24]:
merged_df.shape, dates.shape, daily_changes_df.shape

((26, 12), (201,), (201, 26))

In [30]:
# For each date, extract a list of daily new cases per capita from all cantons(e.g. 'AG_diff_pc', 'AI_diff_pc', etc.), and add as a new column in merged
# For instance, in the column['2020-10-31'], there are: [0.0005411327220155498, nan, nan, 0.000496300306803826, ...]

for i,d in enumerate(dates):
  merged_df[d] = daily_changes_df.iloc[i].values

merged_df.tail()

                                             geometry  ... 2020-12-17 00:00:00
21  POLYGON ((8.48248 46.52972, 8.48077 46.53087, ...  ...                12.0
22  POLYGON ((7.61459 45.97337, 7.61351 45.97326, ...  ...                 NaN
23  MULTIPOLYGON (((7.05791 46.86422, 7.05659 46.8...  ...                98.0
24  POLYGON ((8.66821 47.16368, 8.67379 47.16357, ...  ...                63.0
25  POLYGON ((8.87364 47.24979, 8.86491 47.24844, ...  ...              1108.0

[5 rows x 213 columns]